<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Trevote</h1>
    <p class="lead">Poll and vote for issues, fun, and the unknown.</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
<div class="container">
  <h1>Yaayy it works. This is where we will search.</h1>
  <input type="text" ng-model="newThing"/>
  <button ng-click="addThing()">Add Item</button>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="http://andrewvanvlack.net">Andrew VanVlack</a> |
        <a href="https://twitter.com/avanvlack">@avanvlack</a> |
         <a href="https://github.com/AVanVlack/vanvlack-vote/issues">Issues</a></p>
  </div>
</footer>
