<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Trevote</h1>
    <p class="lead">Poll and vote for issues, fun, and the unknown.</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <input type="text" name="question" ng-model="question"/>
    <label>Single<input type="radio" name="type"/></label>
    <label>Multiple<input type="radio" name="type"/></label>
    <input type="text" name="answer1" placeholder="answer1" ng-model="answer1"/>
    <input type="text" name="answer2" placeholder="answer2" ng-model="answer2"/>
    <button ng-click="addPoll()">Submit</button>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="http://andrewvanvlack.net">Andrew VanVlack</a> |
        <a href="https://twitter.com/avanvlack">@avanvlack</a> |
         <a href="https://github.com/AVanVlack/vanvlack-vote/issues">Issues</a></p>
  </div>
</footer>
